aws_region         = "us-east-1"
project_name       = "forgecloud"
eks_instance_types = ["t3.medium"]
eks_desired_size   = 2
eks_min_size       = 1
eks_max_size       = 3

tags = {
  Environment = "dev"
  CostCenter  = "Engineering-Dev"
}
